.App {
  text-align: center;
}

.App-map {
  height: auto;
  width: 1500px;
  align-items: center;
}

ul li:hover ~ .cursor{
  transform: scale(5);
}

.cursor{
  width: 20px;
  height: 20px;
  background-color: black;
  position:fixed;
  border-radius: 50%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
