certifi==2019.6.16
chardet==3.0.4
Click
decorator==4.4.0
dimod==0.8.14
dwave-cloud-client==0.5.4
dwave-hybrid==0.3.1
dwave-neal==0.5.1
dwave-networkx==0.8.0
dwave-ocean-sdk==1.4.0
dwave-qbsolv==0.2.10
dwave-system==0.7.5
dwave-tabu==0.2.0
dwavebinarycsp==0.0.11
homebase==1.0.1
idna==2.8
jsonschema==2.6.0
minorminer==0.1.8
networkx==2.3
numpy==1.15.4
ortools==6.10.6025
penaltymodel==0.16.2
penaltymodel-cache==0.4.0
penaltymodel-mip==0.2.1
plucky==0.4.3
protobuf==3.8.0
pyqubo==0.3.0
PySocks==1.7.0
python-dateutil==2.8.0
requests==2.22.0
scipy==1.3.1
six==1.12.0
urllib3==1.25.3
Flask==2.1.1
googlemaps==4.6.0
amazon-braket-ocean-plugin
amazon-braket-sdk
